.text_field_area{
  width:215px; height:22px; background-color:#D3DAED; border:black 1px solid;border-radius: 5px; 
  padding-left:10px; line-height:22px;}
.text_field_area_small{
  font-size:12px;width:80px; height:22px; background-color:#D3DAED; border:black 1px solid; 
  border-radius:5px;padding-left:10px; line-height:22px;}
.text_field_area_smaller{
  font-size:12px;width:40px; height:22px; background-color:#D3DAED; border:black 1px solid; border-radius: 5px;
  padding-left:10px; line-height:22px;}
.flashNoticeError{
  padding-left:10px;padding-right:10px;padding-top:5px;padding-bottom:5px;background-color: #F7ACBF;
  color: #E30940;text-align: center;}
.flashNoticeNoError{
  padding-left:10px;padding-right:10px;padding-top:5px;padding-bottom:5px;background-color: #AAFF7F;
  color: green;text-align: center;}
.menu_bar a{
  color:white;text-decoration:none;padding-left:6px;padding-top:6px;padding-right:6px;
  padding-bottom:6px;background-color:#0086D5;font-size:18px;font-weight:bold;font-family:Arial,sans-serif;}
.menu_bar a:hover{
  opacity:0.5;}
.action_bar:link,.action_bar:visited{
  color:white;text-decoration:none;padding-left:6px;padding-top:1px;padding-right:6px;
  padding-bottom:1px;background-color:red;font-size:15px;font-weight:bold;font-family:Arial,sans-serif;}
/*.action_bar:hover{
  opacity:0.5;}
*/
.mid_bg{
  background-color:#BEBEB7; border:#AFB0B0 1px solid;}
.row_hover tr.datarow:hover{
  background-color: #ABDD91;opacity: .8;}
table tr.list_line_odd {
  background-color: #CCCCFF;}
table tr.list_line_even {
  background-color: #9999FF;}
#errorExplanation{
  width: 70%;border: 2px solid red;padding: 7px;padding-bottom: 12px;margin-left: 50px;margin-bottom: 20px;background-color: #f0f0f0;}
#errorExplanation h2{
  text-align: left;font-weight: bold;padding: 5px 5px 5px 15px;font-size: 12px;margin: -7px;background-color: #c00;color: #fff;}
#errorExplanation p{
  color: #333;margin-bottom: 0;padding: 5px;}
#errorExplanation ul{
  font-size: 12px;list-style: square;margin-top:15px;padding:0px;}
#errorExplanation li{
  margin-left:18px;text-align:left}
#slideshow{
  position:relative;
  height:64px;} /*Image height*/
#slideshow IMG{
  position:absolute;
  top:0;
  left:0;
  z-index:8;}
#slideshow IMG.active{
  z-index:10;}
#slideshow IMG.last-active{
  z-index:9;}
#cycle_pic{
  height:180;width:180;padding:0;margin:0;} /*Image height+padding_offset, width+padding_offset*/ 
#cycle_pic img{
  padding:15px;border:1px solid #ccc;background-color:#eee;width:150px;height:150px;top:0;left:0;border-radius:15px} /*Image height & width*/

